<wo:WrapperComponent>
	<aside>
		<p>💡 <strong>On this page</strong><br />
			Dynamic element documentation is currently constructed from information coded in <code>NGDynamicElementDescription.java</code><br>
			<br>
			The docs would probably be better stored with the actual elements, for example using annotations.
			Information coded in such a way would also be useful for a future template editor, providing inline documentation and info for a validator (which bindings are required, which binding combinations are valid etc).  
		</p>
		<strong>TOC</strong>
		<ul>
			<wo:repetition list="$all" item="$current">
				<li><wo:link href="$currentAnchor"><wo:str value="$current.elementClass.getSimpleName" /></wo:link></li>
			</wo:repetition>
		</ul>
	</aside>

	<h2>Dynamic elements</h2>
	<p>Documentation for the standard dynamic elements that come with the framework.</p>
	<hr />
	<wo:repetition list="$all" item="$current">
		<h4 style="margin-bottom: 0px">
			<wo:repetition list="$current.aliases" item="$currentAlias">
				<wo:container elementName="a" id="$current.elementClass.simpleName" style="color: rgb(70,70,80); font-size: 1.5rem; font-weight: normal"><wo:str value="$currentAlias" /> </wo:container>
			</wo:repetition>
		</h4>
		<h5><code style="font-size: 0.9rem"><wo:str value="$current.elementClass.getName" /></code></h5>
		<p><wo:str value="$current.text" /></p>
		<wo:if condition="$current.isContainerElement"><span class="badge bg-primary" style="margin: 0px 0px 15px 0px">Container element</span></wo:if>
		<h5>Bindings</h5>
		<ul>
		<wo:repetition list="$current.bindings" item="$currentBinding">
			<li>
				<strong><wo:str value="$currentBinding.name" /></strong><br>
				<wo:str value="$currentBinding.text" />
			</li>
		</wo:repetition>
		</ul>
		<hr>
	</wo:repetition>
</wo:WrapperComponent>