<wo:WrapperComponent>
	<wo:form enctype="multipart/form-data">
		<wo:textfield value="$someString" name="textfield" /><br>
		<wo:fileUpload data="$data" filename="$filename" /><br>
		<wo:submit action="$submit" value="Hlaða upp skjali" /><br>
		<wo:submit action="$clear" value="Hreinsa" />
	</wo:form>
	<div class="zone btn btn-default" style="width: 180px !important; height: 200px; background-color: rgba(255,0,0,0.3)">Hlaða upp nýju merki</div>
	<script>
	
	function phew( data ) {
		for (const p of data ) {
			console.log(p)
		}
	} 
		fetch('http://localhost:1201/')
    		.then(x => x.formData())
    		.then(data => phew(data));

/*
async function doit() {
  const response = await fetch("http://localhost:1200/multipart")
  const reader = response.body.getReader()
  const decoder = new TextDecoder()
  let result = await reader.read()
  while (!result.done) {
    const text = decoder.decode(result.value)
    console.log("chunk is", text)
    result = await reader.read()
  }

  console.log('borkaborka');
  
}

doit()
*/
	</script>
	<scripty>

async function request(host, port) {
  const url = `http://${host}:${port}/`;
  console.log( url );
  const res = await fetch(url);
  
  console.log( 1 );
  const fd = await res.text();
  
  // const fd = await res.formData();
  // console.log( 2 );
  // const message1 = fd.get('smu');
  // const message2 = fd.get('bork');
  // return [message1, message2];
  return fd;
}

(async () => {
  const response = await request('localhost', 1201 );
  console.log(response); // [ '{"hello":"world"}', '{"foo":"bar"}' ]
})();
	</scripty>
	<script type="text/javascript">
	  function createGuid() {
	      return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
	          var r = Math.random()*16|0, v = c === 'x' ? r : (r&0x3|0x8);
	          return v.toString(16);
	      });
	  }
	
	  document.addEventListener("DOMContentLoaded", function() {		
	  	var storageURL = '<wo:actionURL action="$upload" />';
	  	var params = { url:storageURL, createImageThumbnails:true, maxFilesize:1000 };
	  	var dropzone = new Dropzone( 'div.zone', params );
	
	  	dropzone.on("complete", function(file) {
	  		console.log( file );
	  	});
	  });
	</script>
	<hr />
	<wo:repetition list="$files" item="$current">
		<div>
			<h2><wo:str value="$current.name" /></h2>
			<wo:img data="$current.data" mimeType="$current.contentType" width="300" alt="$current.alt" /><br><br>
		</div>
	</wo:repetition>

	<ul>
		<wo:repetition list="$files" item="$current">
			<li><wo:str value="$current.name" /></li>
		</wo:repetition>
	</ul>
	<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
</wo:WrapperComponent>