<wo:WrapperComponent hideHeader="$true">
	<div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg" style="margin-top: 2rem; margin-bottom: 2rem">
		<div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
			<h1 class="display-4 fw-bold lh-1">ng-objects! <span class="badge bg-danger" style="font-size: 1rem">alpha</span></h1>
			<p class="lead">
				An open source web development framework inspired by the design and principles of Apple's <strong>WebObjects</strong>.
				It provides complete compatibility with the WebObjects deployment environment, allowing you to seamlessly deploy <code>ng-objects</code> applications to WO environments. 
			</p>
			<div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
				<button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Documentation</button>
				<a type="button" class="btn btn-outline-secondary btn-lg px-4" href="https://www.github.com/ngobjects/ng-objects"><wo:img filename="GitHub-Mark-32px.png" width="26" /> GitHub</a>
			</div>
		</div>
		<div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
			<wo:img class="rounded-lg-3" filename="screenshot-eclipse.png" alt="Screenshot" width="720" />
		</div>
	</div>
	<div class="row">
		<div class="col">
			<ul class="nav flex-column">
				<wo:repetition list="$pages" item="$currentPage">
					<li class="nav-item">
						<wo:link class="nav-link active" aria-current="page" href="$currentPage.url"><wo:str value="$currentPage.name" /></wo:link>
					</li>
				</wo:repetition>
			</ul> 
		</div>
		<div class="col">
			<h3>Why ng-objects</h3>
			<p>WebObjects is awesome, bla bla, web development today sucks, bla bla.</p>
		</div>
		<div class="col">
			<h3>Blog</h3>
			<h6>Dynamic elements</h6>
			<p>Smusmu</p>
			<h6>Have you checked out the bla bla</h6>
			<p>Smusmu</p>
		</div>
	</div>
</wo:WrapperComponent>