<wo:WrapperComponent hideSidebar="$true">
	<section class="hero">
		<div>
			<h1>ng-objects <span class="badge">alpha</span></h1>
			<p class="lead">
				A free, open source Java web framework built on the design and principles of Apple's WebObjects.
				It runs in WebObjects deployment environments, so ng-objects apps can be deployed alongside your existing WO apps.
			</p>
			<div class="actions">
				<a class="button" href="/page/getting-started">Get started</a>
				<a class="button secondary" href="https://github.com/ngobjects/ng-objects">View on GitHub</a>
			</div>
		</div>
		<div class="specimen" aria-label="Example component">
			<figure>
				<figcaption>Greeting.html</figcaption>
				<pre class="language-html"><code class="language-html">&lt;p&gt;Hello &lt;wo:str value="$name" /&gt;!&lt;/p&gt;</code></pre>
			</figure>
			<figure>
				<figcaption>Greeting.java</figcaption>
				<pre class="language-java"><code class="language-java">public class Greeting extends NGComponent {

	public String name = "world";

	public Greeting( NGContext context ) {
		super( context );
	}
}</code></pre>
			</figure>
			<figure>
				<figcaption>Rendered</figcaption>
				<div class="output">Hello world!</div>
			</figure>
		</div>
	</section>
	<section class="overview">
		<div>
			<h2>Documentation</h2>
			<ul class="doc-list">
				<wo:repetition list="$pages" item="$currentPage">
					<li><wo:link href="$currentPage.url"><wo:str value="$currentPage.name" /></wo:link></li>
				</wo:repetition>
			</ul>
		</div>
		<div class="status">
			<h2>Status</h2>
			<p>ng-objects is under development.</p>
			<p>Development has progressed steadily over the past couple of years. We've reached the "working implementation" stage and are entering the "flesh out the API and make it nice" stage. This is a long-term project, and we want to get things as right as possible from the start to minimize annoying "API flux" once the libraries see real world use.</p>
			<p>We currently plan to make our first release in 2025, but you can start checking it out now if you'd like to take part in the development process. Ideas and feedback are very welcome.</p>
		</div>
		<div id="blog">
			<h2>Blog</h2>
			<ul class="blog-list">
				<wo:repetition list="$blogEntries" item="$currentBlogEntry">
					<li>
						<time><wo:str value="$currentBlogEntry.date" /></time>
						<wo:link href="$currentBlogEntry.url"><wo:str value="$currentBlogEntry.title" /></wo:link>
					</li>
				</wo:repetition>
			</ul>
		</div>
	</section>
</wo:WrapperComponent>
