<wo:WrapperComponent hideHeader="$true">
	<div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg" style="margin-top: 2rem; margin-bottom: 2rem">
		<div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
			<h1 class="display-4 fw-bold lh-1">ng-objects! <span class="badge bg-danger" style="font-size: 1rem">alpha</span></h1>
			<p class="lead">
				A <strong>free, open source, Java-based</strong> web development framework inspired by the design and principles of Apple's <strong>WebObjects</strong>.
				It's compatible with WebObjects deployment environments, allowing you to seamlessly deploy <code>ng-objects</code> applications to existing WO environments. 
			</p>
			<div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
				<a type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold" href="/page/getting-started">Quick start</a>
				<a type="button" class="btn btn-outline-secondary btn-lg px-4" href="https://www.github.com/ngobjects/ng-objects"><wo:img filename="GitHub-Mark-32px.png" width="26" /> GitHub</a>
			</div>
		</div>
		<div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
			<wo:img class="rounded-lg-3" filename="screenshot-eclipse-3.png" alt="Screenshot" width="880" height="344" />
		</div>
	</div>
	<div class="row">
		<div class="col">
			<form action="/search" style="margin-bottom: 10px">
				<input type="text" name="searchString" size="20" style="border: none" placeholder="Search..." />
			</form>
			<ul class="nav flex-column">
				<wo:repetition list="$pages" item="$currentPage">
					<li class="nav-item">
						<wo:link class="nav-link active" aria-current="page" href="$currentPage.url"><wo:str value="$currentPage.name" /></wo:link>
					</li>
				</wo:repetition>
			</ul> 
		</div>
		<div class="col">
			<h3>Our status</h3>
			<p><code>ng-objects</code> is under development. What we currently have working is basic <a href="/page/templating">templating</a> and <a href="/page/routing">routing</a>, with <a href="/page/component-actions">component actions</a> being under development.</p>
			<p>We plan to be ready for production use around the release of Java's next planned LTS release (21) in September 2023.</p>
			<p>On the whole things look promising, but be sure that this is a long-term project. We want to get things as right as possible before we start "blowing our horns" so to speak, to minimize "API flux" once the libraries see real world use.</p>
			<p>Oh, and of course this website runs on ng-objects and <a href="https://www.github.com/ngobjects/ng-website">it's source is on github</a>.</p>
		</div>
		<div class="col">
			<h3>Blog</h3>
			<wo:repetition list="$blogEntries" item="$currentBlogEntry">
				<h5 style="margin-bottom: 2rem">
					<small style="color: gray; font-size: smaller"><wo:str value="$currentBlogEntry.date" /></small><br>
					<wo:link href="$currentBlogEntry.url"><wo:str value="$currentBlogEntry.title" /></wo:link>
				</h5>
			</wo:repetition>
		</div>
	</div>
</wo:WrapperComponent>